@media only screen and (max-width: 768px) {

    html {
        font-size: 45%;

    }

    .parentBox {
        color: #260041;
        font-family: "Objective";

    }


    .childBox1 {
        background-image: linear-gradient(to top, #fff, #dfedf8);
        box-shadow: 1px 5px 10px rgb(230, 225, 225);

    }

    /* below navbar div */

    .section1 {
        width: 60rem;
        display: inline-flex;
        height: 40rem;

    }

    .container1 {
        width: 40rem;
        position: absolute;
        top: 15rem;

    }

    .section1 .mobilePic {
        margin-top: 12rem;
        margin-left: 38rem;
        width: 20rem;


    }



    /* section one start from here
         */
    .bannerImage7 {
        display: flex;
        justify-content: end;

    }

    .bannerImage7 img {
        width: 10rem;
    }

    .bannerImage9 {
        display: flex;
        margin-top: -6.5rem;
        margin-left: 82rem;
        width: 8rem;
        height: 8rem;
    }

    .childBox2 {
        display: flex;
        color: #260041;
        font-family: "Objective";
    }

    .section2 {
        display: flex;
        flex-direction: column;
    }

    .section2_text h2 {
        font-size: 2rem;
        width: 25rem;
        margin-left: 18rem;
        text-align: start;
        margin-top: -6rem;
        font-weight: 500;
        word-spacing: 1rem;
        line-height: 3rem;
    }


    /* first image div */

    .sectionFirst {
        display: block;
        box-shadow: .5rem .5rem 2rem #b9d4e6;
        border-radius: .2rem;
        width: 20rem;
        height: 25rem;
        margin-left: 55rem;
        margin-top: -7.5rem;
    }

    .sectionFirst img {
        margin-top: -.5rem;
        margin-left: 0rem;
        width: 8rem;
        height: 6rem;
    }

    .sectionFirst h2 {
        font-size: 1.6rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-right: 10rem;
        font-weight: 500;
    }

    .sectionFirst p {
        font-weight: 200;
        line-height: 1.5rem;
        width: 13rem;
        text-align: justify;
        margin-left: 3rem;
    }

    .learnMore {
        color: #4A99D3;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 2.2rem;
        margin-right: 8rem;
    }

    .learnMore img {
        margin-left: 9rem;
        width: 2rem;
        height: 2rem;
        margin-top: -2rem;
    }


    /* second image div */

    .bannerImage3 {
        display: block;
        box-shadow: .5rem .5rem 2rem #b9d4e6;
        border-radius: .2rem;
        width: 20rem;
        height: 25rem;
        margin-left: 28rem;
        margin-top: -8.5rem;
    }

    .bannerImage31 {
        margin-top: -.5rem;
        margin-left: -1rem;
        width: 10rem;
    }

    .bannerImage3 h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 10rem;
        font-weight: 500;
    }

    .bannerImage3 p {
        font-weight: 200;
        line-height: 1.5rem;
        width: 14rem;
        text-align: justify;
        margin-left: 2rem;
    }

    .learnMore1 {
        color: #4A99D3;
        font-size: 1rem;
        font-weight: 500;
        margin-top: -.5rem;
        margin-right: 8rem;

    }


    .imagebanner91 {
        visibility: hidden;
    }


    /* third image div */

    .bannerImage61 {
        display: block;
        box-shadow: .5rem .5rem 2rem #b9d4e6;
        border-radius: .2rem;
        width: 20rem;
        height: 25rem;
        margin-left: 55rem;
        margin-top: -10rem;
    }


    .bannerImage61 h2 {
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-right: 11rem;
        font-weight: 500;
    }

    .bannerImage61 img {
        width: 10rem;
    }

    .bannerImage61 p {
        font-weight: 1.2rem;
        font-weight: 200;
        line-height: 1.5rem;
        width: 14rem;
        text-align: justify;
        margin-left: 3rem;
        margin-top: -1rem;
    }

    .learnMore2 {
        color: #4A99D3;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-right: 8rem;

    }

    .bannerImage612 {
        height: 2rem;

        margin-top: -21rem;
        margin-left: 5rem;
    }

    .bannerImage91 {
        visibility: hidden;
    }

    .bannerImage8 {
        display: flex;
        justify-content: flex-start;
        margin-top: -20rem;
        width: 10rem;
        height: 10rem;

    }

    /* section Second start from here */

    .section3 {
        height: 25rem;
        background-color: #c7e8fd;
        margin-top: -2rem;
    }

    .section31 h2 {
        padding-top: 3rem;
        color: #4A99D3;
        font-size: 1.5rem;
        font-weight: 500;
    }


    .section3_Box {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3rem;
    }

    .section3_Box img {
        width: 5rem;
    }

    .section31 {
        margin-top: 2rem;
    }

    .section3_Box1 {
        padding-bottom: 2.5rem;
    }

    .section3_Box h6 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    .section3_Box p {
        width: 15rem;
        line-height: 2rem;
    }

    /*  forth section 4 */

    .section4 h1 {
        font-size: 2rem;
        margin-top: 5rem;
    }

    .section41 {
        display: flex;

    }



    .colorDiv {
        background-color: #c7e8fd;
        height: 26rem;
        width: 40rem;
        margin-top: 11rem;
        margin-left: -19.5rem;

    }

    .bannerImage130 img {
        height: 40rem;
        margin-top: -5rem;
    }


    /* inverted comma*/
    .bannerImage14 {
        margin-top: 10rem;
        margin-left: -15rem;
    }


    .bannerImage131 p {
        margin-left: 20rem;
        text-align: justify;
        width: 26rem;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-top: -18rem;
    }

    .bannerImage131 h4 {
        margin-left: -9rem;
        margin-top: 1rem;

    }

    .pagination img {
        margin-left: 9rem;
        margin-top: 4rem;
        width: 15rem;
    }

    .bannerImage13 img {
        margin-left: -10rem;
        width: 30rem;
        margin-left: 19rem;

    }

    .bannerImage13 h2 {
        margin-top: -32rem;
        margin-left: 110rem;
    }

    .bannerImage13 p {
        margin-top: 2rem;
        margin-left: 118rem;
        font-size: .99rem;
        width: 27rem;
        text-align: justify;
    }

    .bannerImage17 img {
        margin-top: 2rem;
        margin-left: 100rem;
        padding-bottom: 20rem;
        width: 20rem;
    }

    .banner16image img {
        margin-top: 15rem;
        padding-bottom: 10rem;
    }

    .banBlue {
        width: 5rem;
        height: 10rem;
        position: relative;
        top: -2rem;
    }

    .banBrwn {
        position: relative;
        left: 89rem;
        width: 5rem;
        height: 10rem;
    }









}