.navBox p {
    color: #4A99D3;
    position: absolute;
    width: 128px;
    height: 42px;
    left: 245px;
    top: 45px;

    font-family: 'Objective';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
}

.group {
    position: absolute;
    width: 312px;
    height: 19px;
    left: 883px;
    top: 59px;
    display: flex;
    justify-content: space-between;
}

.group1 {
    color: #4A99D3;
}