.productBox {
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: 1px .1px 20px #1976d2;
    line-height: 2rem;
    word-spacing: 1rem;
    text-overflow: inherit;
}

.main {
    box-sizing: content-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;

}

.productBox1 {
    padding: 2rem;
    width: 100%;
}

.productBox1>img {
    width: 350px;
    height: 200px;
    margin-left: 3.5rem;
    box-shadow: 1px .1px 20px #1976d2;
    border-radius: .5rem;


}